[submodule "Misc/ExcelTools"]
	path = Misc/ExcelTools
	url = git@github.com:Whhh5/ExcelTools.git
[submodule "Assets/Framework"]
	path = Assets/Framework
	url = git@github.com:Whhh5/UnityFramework.git
